 @import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

 body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background: radial-gradient(at top, var(--bg-grad-1), var(--bg-grad-2));
  min-height: 100vh;
  text-transform: uppercase;
  color: var(--light-text);
}

input{
  background: none;
  padding:10px;
  border-radius:10px;
  margin: 10px;
  border-color: var(--grey);
  color: white;
}

.login{
  padding:3rem;
}

:root {
  --light-text: #ffffff;
  --grey: hsl(217, 16%, 45%);
  --bg-grad-1: hsl(214, 47%, 23%);
  --bg-grad-2: hsl(237, 49%, 15%);
  --scissors-1: hsl(39, 89%, 49%);
  --scissors-2: hsl(40, 84%, 53%);
  --paper-1: hsl(230, 89%, 62%);
  --paper-2: hsl(230, 62%, 44%);
  --rock-1: hsl(349, 71%, 52%);
  --rock-2: hsl(349, 70%, 56%);
  --shadow-light: #00000026;
  --shadow-med: #0000004d;
}

.container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 2rem;
}

.header{
  border: 3px solid var(--grey);
  border-radius: 20px;
  padding: 1rem 1.4rem 1rem 2rem;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.game{
  display: none;
}
.game__instruction{
  text-align:center;
  margin-top: 1rem;
}

.herramienta__text{
  text-align: center;
  margin-top: 2rem;
}

.choice_papel {
  background: linear-gradient(to bottom, var(--paper-1), var(--paper-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--paper-2);
  position: relative;
  width: 7rem;
  height: 7rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.choice_tijera {
  background: linear-gradient(to bottom, var(--scissors-1), var(--scissors-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--scissors-2);
  position: relative;
  width: 7rem;
  height: 7rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;

}
.choice_piedra {
  background: linear-gradient(to bottom, var(--rock-1), var(--rock-2));
  box-shadow: 0 0.5rem var(--shadow-med), 0 0.5rem var(--rock-2);
  position: relative;
  width: 7rem;
  height: 7rem;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
}


.resultado{
  text-align: center;
  padding: 1rem;
}

.reset-btn {
  margin:1rem;
  bottom: 2rem;
  right: 2rem;
  background: none;
  outline: none;
  border: 2px solid var(--rock-1);
  border-radius: 0.6rem;
  color: var(--light-text);
  padding: 0.4rem 2rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 15px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.container-close{
  display: flex;
  justify-content: end;
}



.rules-btn{
    bottom: 2rem;
    right: 1rem;
    background: none;
    outline: none;
    border: 2px solid var(--rock-1);
    border-radius: 0.6rem;
    color: var(--light-text);
    padding: 0.4rem 1rem;
    font-family: inherit;
    text-transform: inherit;
    font-size: 15px;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.rules-btn:hover{
  background-color: var(--rock-2);
}

.rules-btn2{
  bottom: 2rem;
  right: 1rem;
  background: none;
  outline: none;
  border: 2px solid var(--rock-1);
  border-radius: 0.6rem;
  color: black;
  padding: 0.4rem 1rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 15px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.rules-btn2:hover{
background-color: var(--rock-2);
}

.init-btn2{
  bottom: 2rem;
  right: 1rem;
  background: none;
  outline: none;
  border: 2px solid var(--scissors-1);
  border-radius: 0.6rem;
  color: white;
  padding: 0.4rem 1rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 15px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.init-btn2:hover{
background-color: var(--scissors-2);
}


.ranking-btn{
  bottom: 2rem;
  right: 1rem;
  background: none;
  outline: none;
  border: 2px solid var(--rock-1);
  border-radius: 0.6rem;
  color: var(--light-text);
  padding: 0.4rem 1rem;
  font-family: inherit;
  text-transform: inherit;
  font-size: 15px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.ranking-btn:hover{
  background-color: var(--rock-2);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.footer__description {
  font-size: 12px;
  text-align: center;
}

 .marcador {
  position: relative;
  max-width: 350px;
  margin: 0 auto;
  padding-top: 1rem;
}



 .marcador .nombre-jugador {
  right: 80%;
} 

.marcador .nombre-computadora {
  left: 80%;
} 

 .marcador .puntos {
  font-size: 1.6rem;
  text-align: center;
} 

.herramienta{
  margin-top: -1rem;
}

.elegi-tu-arma {
  margin-bottom: 2rem;
}

.elegi-tu-arma h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.armas {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.arma {
  font-size: 2rem;
  background-color: var(--clr-beige);
  border: 0;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
}

.mensaje {
  margin-bottom: 2rem;
  line-height: 1.5;
}

.mensaje .eleccion {
  color: var(--clr-purple);
  background-color: var(--clr-gold);
  border-radius: .25rem;
  padding-inline: .25rem;
}

.btn {
  border: 0;
  line-height: 1;
  background-color: var(--clr-beige);
  color: var(--clr-purple);
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.disabled {
  display: none;
}

.marcador .nombre {
  position: absolute;
  color: var(--clr-beige);
  background-color: var(--clr-purple);
  line-height: 1;
  padding: .5rem;
  border-radius: .5rem;
  border: 2px solid var(--clr-gold);

}

.marcador .nombre-jugador {
  right: 85%;
}

.marcador .nombre-computadora {
  left: 85%;
}

.marcador .puntos {
  font-size: 1.6rem;
  left: 45%;
} 



.container-modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(144, 148, 150, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.content-modal{
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  color: black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.bienvenida{
  text-align: center;
  padding: 2rem;
  font-size: 20px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

thead{
  border: 1px solid var(--grey);
}

tbody tr:nth-child(odd) {
  background-color: var(--paper-1);
  color: white;
  text-align: center;
  padding: 5px;
}

tbody tr:nth-child(even) {
  background-color: var(--paper-2);
  color: white;
  text-align: center;
  padding: 5px;
}

table {
  margin-left: 19%;
}